@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Teko:wght@300;400&display=swap');

body{
    width: 1024px;
   margin: auto;
   line-height: 1.5;
   display: grid;
   grid-template-rows: 100px 1fr 150px;
   gap: 30px;
   font-family: 'Teko', sans-serif;
}
header img{
 margin-left: 60px;
margin-top: 10px;
}
header{
    display: grid;
    grid-template-columns: 200px 1fr;
    text-align: center;
    background-color: #8a8b8a;
    /* height: 100px; */
    width: 100%;
    padding:2opx 20px;

}
header nav{
    margin-right: 80px;
   text-align: center;   
   margin-top: 30px; 
}
header nav a{
    text-decoration: none;
   padding: 48px;
   padding-top: 30px;
   color: white;

}
header nav a:hover{
    background-color: black;
}
main{
    margin: auto;
    display: grid;
    grid-template-rows: 450px 375px 400px ;
    gap: 30px;
}
main>img{
 margin-left: 3px; 
    
}
/* main>section:nth-child(1){
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
} */
main>section:nth-child(2){
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  
    /* margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px; */
}
main>section:nth-child(3){
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
    /* margin-bottom: 5px; */
}
main p {
    overflow: scroll;
    width: 410px;
  height: 300px;
  font-style: italic;
}
main section:nth-child(3) section {
    display: grid;
    grid-template-rows: 1fr 1fr;   
}

button{
    background-color: black;
    color: white;
    height: 60px;
    width: 130px;
    padding: 15px;
    margin-top: 5px;
    transition: 350ms;
    border: 0px;
}
button:hover{
    background-color: #8a8b8a;
}
footer{
    background-color: #8a8b8a;
   
}
footer{
    background: rgb(110, 110, 110) ;
}